html {
  scroll-padding-top: 50px;
}
body {
  overflow-x: hidden;
  background-color: #000;
}
.body {
  overflow-x: hidden;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../Images/bg.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
/* Start NavBar */
header .logo,
header .links a {
  text-transform: capitalize;
  font-size: 18px;
}
/* End NavBar */
/* Start Home */
#Home {
  height: calc(100vh);
  display: flex;
  justify-content: center;
  align-items: center;
}
#Home > div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
#Home > div h1 {
  font-size: 100px;
  color: #fff;
}
#Home > div p {
  font-size: 20px;
  width: 60%;
  text-align: center;
  color: #fff;
}
/* end Home */
/* Start Docs  */
#Docs {
  min-height: calc(100vh - 45px);
  height: auto;

  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 10px;
}
#Docs #LeftSide {
  width: 300px;
  height: 90vh;
  overflow-y: auto;
  padding-top: 10px;
  position: sticky !important;
  top: 0;
}
#Docs #LeftSide ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
#Docs #LeftSide ul li {
  padding: 10px 20px;
  color: #fff;
  border-bottom: 1px solid #fff;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  cursor: pointer;
}
#Docs #Content {
  width: calc(100% - 300px);
  height: 100%;
  padding: 10px;
}
#Docs #Content h1 {
  width: 100%;
  text-align: center;
  padding: 10px 20px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  color: #fff;
}
#Docs #Content .Property {
  margin-top: 20px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  border-radius: 5px;
  padding: 10px;
}
#Docs #Content .Property h2 {
  color: #fff;
}
#Docs #Content .Property p {
  color: #fff;
  white-space: break-spaces;
}
/* End Docs */

/* Start Download  */
#Download {
  padding: 20px;
}
#Download .url {
  background: #00000085;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  width: fit-content;
  margin: 10px auto 0;
}

/* End Download */

/* Start Contact  */
#Contact {
  height: calc(100vh - 45px);
  display: flex;
  justify-content: center;
  align-items: center;
}
/* End Contact */
